.form{
display: flex;
flex-direction: column;
align-items: center;
}
.delay-label{
font-family: "Montserrat", sans-serif;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
width: 360px;
height: 72px;
gap: 8px;
margin-bottom: 14px;
}
.delay-input{
padding: 8px 16px;
box-sizing: border-box;
width: 360px;
height: 40px;
border: 1px solid #808080;
border-radius: 4px;
outline: none;
transition: border 250ms ease-in-out;
}
.delay-input:hover{
border: 1px solid #2E2F42;
}
.delay-input:focus{
border: 1px solid #4e75ff;
}
.field-snack {
padding: 24px 48px 8px 48px;
font-family: "Montserrat", sans-serif;
box-sizing: border-box;
display: flex;
width: 360px;
height: 78px;
gap: 48px;
justify-content: center;
margin-bottom: 24px;
border: 1px solid #808080;
border-radius: 4px;
transition: border 250ms ease-in-out;
}

.field-snack:hover,
.field-snack:focus {
border: 1px solid #000;
}
.legend {
text-align: left;
padding: 0 8px;
}
.field-label {
display: flex;
gap: 8px;
align-items: center;
}
.field-input {
appearance: none;
-webkit-appearance: none;
width: 20px;
height: 20px;
border: 1px solid #757575;
border-radius: 14px;
transition: border 250ms ease-in-out;
position: relative;
margin: 0;
}

.field-input:hover {
border: 1px solid #000;
}

.field-input:checked {
border-color:#4e75ff;
}

.field-input:checked::before {
position: absolute;
width: 12px;
height: 12px;
border-radius: 50%;
top: 3px;
left: 3px;
content: "";
background-color: #4e75ff;
}
.submit-btn{
    width: 360px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #4e75ff;
    border-radius: 8px;
    border: none;
    transition: background-color 250ms ease-in-out;
}
.submit-btn:hover{
background-color: #6c8cff;
}